@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;1,300;1,400&display=swap" );

*{
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.navbar{
    background-color: #fff !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    color: #565387 !important;
    text-transform: uppercase;
}

.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.navbar a:hover{
    color: #3498db !important;
}



@media (max-width: 991px) {
    .navbar-brand {
        font-size: 1.5rem !important;
    }
    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
}

input{
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
 }

 img{
    height: 250px !important;
    width: auto !important;
 }

 .src {
    width:40px !important;
    height:40px !important;
 }





 
